<!DOCTYPE html>

<meta charset="utf-8">
<html>
<head>
<style>
div{
    text-align: right;
}
.body {
    text-align: center;
}
.bodyleft {
    text-align: left;
}
</style>
</head>

<body>
<div style=position:absolute;margin-left:350px;margin-top:-25px;width:689px;height:100px;z-index:1>
    <fieldset>
	  <legend>Preencha o formulario a seguir:</legend>
	<h2>Formulario de cadastro de Pagamento</h2>
    <%= form_for :pagamento, :action => pagamento_cadastro_path do |f| %><br>
    PLACA: <%= f.select :placa, options_for_select(Carro.all.collect {|p| [p.placa]})  %><br>
    VALOR: <%= f.text_field :valor, :id=> "valor_form", :readonly => true, :value => 'R$79,90' %><br>
    <%= f.submit :id =>"submit_pagamento"%>
    <%end%>
    </fieldset>
Para consultar todos os pagamentos existentes, consulte a view <a href='consulta' id='view_consulta'>aqui.</a></div>

</div>
</body>
</html>