<table>
  <thead>
  <tr>
    <th>cpf</th>
    <th>nome</th>
    <th>endereco</th>
    <th>telefone</th>
  </tr>
  </thead>
  <tr>
    <% @consulta.each do |f| %>
    <td><%= f.cpf %></td>
    <td><%= f.nome%></td>
    <td><%= f.endereco %></td>
    <td><%= f.telefone %></td>
  </tr>
<% end %>
Teste com sucesso de consulta dos clientes existentes. Clique <a href='cadastro'> aqui </a> para voltar

</table>