DELETE o cliente Digitando o CPF do a seguir: <br></p>
<%= form_for :cliente, :action => cliente_updateform_path do |f| %>
<label >CPF: </label>
<%= f.text_field :cpf, :id => "delete_cpf" %>
<%= f.submit "DELETAR CLIENTE", :id => 'submit_delete', :class => "btn btn-info" %>
<% end %>
Clique <a href='consulta' id='return'> aqui </a> para voltar para consulta


