<h1>Detalhes da revisao</h1>
<fieldset> <legend><b>PLACA:</b></legend><%= @detalhes['placa']%> </fieldset> <br>
<fieldset> <legend><b>KILOMETRAGEM:</b></legend><%= @detalhes['km']%></fieldset> <br>
<fieldset><legend><b>RELATORIO:</b></legend> <%= @detalhes['relatorio']%> </fieldset><br>
<fieldset><legend><b>AUTORIZAÇÃO:</b> </legend><%= @detalhes['autorizacao'] %></fieldset><BR><br><br>


Clique aqui para <a href='cadrev'>voltar</a>