<h1>Detalhes da revisao</h1>
<fieldset style="float: left; width: 280px; background-color:black;"> <legend><b>PLACA:</b></legend><%= @detalhes['placa']%> </fieldset> <br><br><br>
<fieldset style="float: left; width: 280px; background-color:black;"> <legend><b>KILOMETRAGEM:</b></legend><%= @detalhes['km']%></fieldset> <br> <br> <br>
<fieldset style="float: left; width: 180px; background-color:black;"><legend><b>AUTORIZAÇÃO:</b> </legend><%= @detalhes['autorizacao'] %></fieldset><BR><br><br>
<fieldset style="float: left; width: 550px; background-color:black;"><legend><b>RELATORIO:</b></legend> <%= @detalhes['relatorio']%> </fieldset><br> <br><br>



Clique aqui para <a href='cadrev'>voltar</a>