<h1>Detalhes do reboque</h1>
<h4><b>PLACA:</b></h4> <%= @detalhes['placa']%> <br>
<h4><b>KILOMETRAGEM:</b></h4> <%= @detalhes['km']%> <br>
<h4><b>RELATORIO:</b></h4> <%= @detalhes['relatorio']%> <br>
<h4><b>AUTORIZAÇÃO:</b></h4> <%= @detalhes['autorizacao'] %><BR><br><br>


Clique aqui para <a href='cadrev'>voltar</a>