
#formulario{
    position: relative;
    left: 15%;
    width: 70%;
    background-color: #1E90FF;
    color: #191970;
}
#formulario input{
    position: relative;
    left: 5%;
}

#bancoDeDados{
    background-color: #1E90FF;
    text-align: center;
    color: #191970;
    position: relative;
    top: 1%;
    left: 15%;
    width: 70%;
    height: auto;
}

#bancoDeDados table{
    align: center;
}