<table>
  <thead>
  <tr>
    <th>placa</th>
    <th>marca</th>
    <th>modelo</th>
    <th>clientes</th>
  </tr>
  </thead>
  <tr>
    <% @consulta.each do |f| %>
    <td><%= f.placa %></td>
    <td><%= f.marca %></td>
    <td><%= f.modelo %></td>
    <td><%= f.clientes %></td>
  </tr>
<% end %>
Teste com sucesso de consulta dos carros existentes. Clique <a href='cardastro'> aqui </a> para voltar

</table>