<!DOCTYPE html>
<html>
    Link para view Veiculo: <a href="/cardastro" id='link_cardastro'>carro</a><br>
    Link para view Cliente: <a href="/cadastro" id='link_cadastro'>Cliente</a><br>
    Link para Registrar pagamento: <a href="/pagreg" id='pagamento'>Pagamento</a>
</html>