<!DOCTYPE html>
<html>
<head>
  <title>Insurace-car</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style=position:absolute;margin-left:150px;margin-top:400px;width:600px;height:140px;z-index:1> RBM4 inc.</div>

<%= yield %>

</body>
</html>
