<!DOCTYPE html>
<html>
<head>
  <title>Insurace-car</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style=position:absolute;margin-left:450px;margin-top:500px;width:600px;height:140px;z-index:1> 
RBM4 inc. <br>
WMOF Solutions <br>
ENSN <br>
DHG <br>

<h5></h7><a href= '/' id='index'>Inicio</a></a></h5></div>

<%= yield %>

</body>
</html>
