<!DOCTYPE html>
<html>
<style>
div{
    text-align: right;
}
.body {
  text-align: center;
}
.bodyleft {
  text-align: left;
}
</style>
<head>
  <title>Insurance-car</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  background="http://skriptkoder.com/wp-content/uploads/2014/12/board-black-series-texture-background-wood-wallpaper-wood-texture-wallpapers-476.jpg">
<div style=position:center;width:600px;height:100px;z-index:1>
<font color="white"> 
RBM4 inc. / WMOF Solutions / ENSN / DHG <br>

<div style=position:absolute;margin-left:-600px;margin-top:-38px;width:689px;height:100px;z-index:1><h3></h7><a href= '/' id='index' align='center'>Inicio</a></a></h3></div></div>

<%= yield %>

</body>
</html>
